.content {
		width: 396px;
		height: 800px;
		margin: 0 auto;

}
h1 {
	color: #4B5668;
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif; 
}
 .content div {
	float: left;
	width: 52px;
	height: 32px;
	background: #FCDFE1;
	color: #AD2728;
	margin: 9px 7px;
	padding: 7px 0;
	text-align: center;
	box-sizing: border-box;
 }